@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Podkova:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  position: relative;
}

/* Utility */

.primary-button {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--Yellow-Primary, #fdbe33);
  text-decoration: none;
  transition: all 0.3s;
  border: none;
  outline: none;
  cursor: pointer;
}

.primary-button:hover {
  background: var(--Yellow-yellow-800, #8b691c);
}

.primary-button p {
  color: var(--Blue-Primary, #030f27);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s;
}

.primary-button:hover p {
  color: var(--White, #fff);
}

.primary-button svg {
  width: 20px;
  height: 20px;
  transition: all 0.3s;
}

.primary-button svg path {
  transition: all 0.3s;
}

.primary-button:hover svg path {
  fill: #fff;
}

.secondary-button {
  display: flex;
  height: 56px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--Blue-Primary, #030f27);
  text-decoration: none;
  transition: all 0.3s;
  border: none;
  outline: none;
  cursor: pointer;
}

.secondary-button:hover {
  background: var(--Blue-blue-400, #353f52);
}

.secondary-button p {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.secondary-button svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.tertiary-button {
  display: flex;
  height: 56px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.tertiary-button p {
  color: var(--Blue-Primary, #030f27);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.tertiary-button:hover p {
  color: #353f52;
}

.tertiary-button svg {
  width: 24px;
  height: 20px;
}

.tertiary-button:hover svg path {
  fill: #353f52;
}

.blue-overlay {
  position: relative;
  z-index: 0;
}

.blue-overlay::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(3, 15, 39, 0.2) 0%,
    rgba(3, 15, 39, 0.2) 100%
  );
  opacity: 0;
  z-index: 1;
  transition: all 0.3s;
}

.blue-overlay:hover::before {
  opacity: 1;
}

/* Navbar */

.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 0 160px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Grey-grey-50, #f2f2f2);
  background: var(--Blue-Primary, #030f27);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo img {
  height: 62px;
  object-fit: cover;
  flex-shrink: 0;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.navbar-link {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--Grey-grey-400, #959595);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.navbar-link:hover {
  color: var(--Yellow-Primary, #fdbe33);
}

.navbar-link:active {
  color: var(--Grey-grey-50, #f2f2f2);
}

.navbar-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
}

.navbar-link-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-shrink: 0;
}

.navbar-link-text p {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Grey-grey-400, #959595);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s;
}

.navbar-link-container:hover .navbar-link-text p {
  color: #fdbe33;
}

.navbar-link-text svg {
  margin-top: 2px;
  transition: all 0.3s;
}

.navbar-link-text svg path {
  transition: all 0.3s;
}

.navbar-link-container:hover .navbar-link-text svg {
  transform: rotate(-180deg);
}

.navbar-link-container:hover .navbar-link-text svg path {
  fill: #fdbe33;
}

.navbar-link-dropdown {
  width: 350px;
  display: inline-flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background: var(--White, #fff);
  flex-shrink: 0;

  position: absolute;
  top: 100%;

  height: 0;
  overflow: clip;
  visibility: hidden;

  interpolate-size: allow-keywords;
  transition:
    height 0.3s ease,
    visibility 0.3s,
    opacity 0.3s;
  opacity: 0;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.navbar-link-container:hover .navbar-link-dropdown {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.navbar-link-dropdown a {
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: var(--Text-Black-text-black-400, #414141);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  flex-shrink: 0;
}

.navbar-link-dropdown a:hover {
  color: #fdbe33;
}

/* Home */

.home-banner {
  width: 100%;
  height: calc(100svh - 80px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding-top: 56px;
}

.home-banner header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 160px;
  gap: 40px;
}

.home-banner header h1 {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1.44px;
  flex-shrink: 0;
}

.home-banner header p {
  max-width: 469px;
  color: var(--Blue-blue-400, #353f52);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-banner-gallery {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  align-self: stretch;
}

.home-banner-gallery::before {
  content: " ";
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 44.94%, #000 115.73%);
}

.home-banner-gallery-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.3s;
}

.home-banner-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.home-banner-gallery-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.home-banner-gallery-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.home-banner-gallery-text span {
  color: var(--Grey-grey-200, #c2c2c2);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}

.home-banner-gallery-text p {
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}

.home-banner-gallery-button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background: var(--Grey-grey-800, #444);
  backdrop-filter: blur(25px);
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.home-banner-gallery-button img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.home-banner-gallery-button-left {
  left: 80px;
}

.home-banner-gallery-button-right {
  right: 80px;
}

.home-banner-youtube {
  position: absolute;
  bottom: 20px;
  right: 80px;
  z-index: 2;
  display: inline-flex;
  height: 56px;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;
}

.home-banner-youtube p {
  color: var(--White, #fff);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  transition: all 0.3s;
}

.home-banner-youtube:hover p {
  color: #fdbe33;
}

.home-banner-youtube svg path {
  transition: all 0.3s;
}

.home-banner-youtube:hover svg path {
  fill: #fdbe33;
}

.home-banner-gallery-indicators {
  position: absolute;
  bottom: 20px;
  left: 80px;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.home-banner-gallery-indicator {
  width: 20px;
  height: 5px;
  border-radius: 8px;
  background: var(--Grey-grey-300, #a7a7a7);
  transition: all 0.3s;
}

.home-banner-gallery-indicator.active-home-banner-gallery-indicator {
  width: 36px;
  background: var(--Yellow-Primary, #fdbe33);
}

.template {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.template-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.template-heading h2 {
  color: var(--Blue-Primary, #030f27);
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.2px;
}

.template-heading p {
  max-width: 500px;
  color: var(--Text-Black-text-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-provide {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-self: stretch;
}

.home-provide-set {
  display: flex;
  width: 100%;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background: var(--Grey-grey-50, #f2f2f2);
  transition: all 0.3s;
  align-self: stretch;
}

.home-provide-set:hover {
  background: var(--Blue-Primary, #030f27);
}

.home-provide-set svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}

.home-provide-set svg path {
  transition: all 0.3s;
}

.home-provide-set:hover svg path {
  fill: var(--Yellow-Primary, #fdbe33);
}

.home-provide-set-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.home-provide-set-text h3 {
  color: var(--Blue-Primary, #030f27);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-provide-set:hover h3 {
  color: var(--Yellow-Primary, #fdbe33);
}

.home-provide-set-text p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-provide-set:hover p {
  color: var(--Text-Black-text-black-100, #b5b5b5);
}

.home-about {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.home-about-content {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
}

.home-about-content h2 {
  color: var(--Blue-Primary, #030f27);
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.2px;
}

.home-about-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.home-about-para {
  max-width: 500px;
  color: var(--Text-Black-text-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-about-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  overflow: hidden;
}

.home-about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-move {
  display: flex;
  width: 100%;
  padding: 48px 160px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: -4px;
}

.home-move h2 {
  color: var(--Grey-grey-200, #c2c2c2);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
}

.home-move h2 span {
  color: var(--Blue-Primary, #030f27);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
}

.home-fleet {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.home-fleet-set {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 550/397;
  overflow: hidden;
  position: relative;
}

.home-fleet-set::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 59.07%, #000 101.26%);
  z-index: 2;
}

.home-fleet .home-fleet-set:nth-child(1),
.home-fleet .home-fleet-set:nth-child(2),
.home-fleet .home-fleet-set:nth-child(6),
.home-fleet .home-fleet-set:nth-child(7) {
  grid-column: span 3;
}

.home-fleet .home-fleet-set:nth-child(3),
.home-fleet .home-fleet-set:nth-child(4),
.home-fleet .home-fleet-set:nth-child(5) {
  grid-column: span 2;
}

.home-fleet-set img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-fleet-set-text {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0px 16px 16px 16px;
}

.home-fleet-set-text p {
  color: var(--White, #fff);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 8px;
  border-top: #d6d6d680 1px solid;
  text-transform: uppercase;
}

.home-yellow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  padding: 48px 160px;
  background: var(--Yellow-yellow-400, #fdcb5c);
}

.home-yellow p {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
}

.home-yellow h2 {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5.76px;
}

.home-equipment {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.template.clients {
  align-items: center;
}

.home-clients {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 34px;
}

.home-clients .template-heading {
  width: auto;
  justify-content: center;
}

.home-clients-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
  padding: 1px;
  background: rgba(188, 188, 188, 0.2);
}

.home-clients-container img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background: #fff;
  overflow: hidden;
}

.home-bts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.home-bts-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.home-bts .home-bts-set{
  padding-bottom: 20px;
}

.home-bts-set iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 550/334;
}

.home-bts-set-text {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.home-bts-set-text h3 {
  color: var(--Blue-Primary, #030f27);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home-bts-set-text p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.template.home-faq {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
}

.template.home-faq .template-heading {
  justify-content: center;
}

.home-faq-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.home-faq-container hr {
  width: 100%;
  border: 1px solid rgba(214, 214, 214, 0.5);
}

.home-faq-set {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer;
}

.home-faq-set.active-home-faq-set {
  cursor: default;
}

.home-faq-set-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.home-faq-set-text h3 {
  color: var(--Text-Black-Primary, #111);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-faq-set-text p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-height: 0;
  transition: all 0.3s;
  opacity: 0;
}

.active-home-faq-set p {
  max-height: 500px;
  opacity: 1;
}

.home-faq-set img {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
  aspect-ratio: 1/1;
  flex-shrink: 0;
  object-fit: cover;
  transition: all 0.3s;
}

.active-home-faq-set img {
  transform: rotate(0deg);
}

.home-reach {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 52px;
}

.home-reach-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8px;
  border-top: 1px solid rgba(163, 163, 163, 0.5);
}

.home-reach-set h3 {
  color: var(--Blue-Primary, #030f27);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home-reach-set p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-ready {
  display: flex;
  width: 100%;
  padding: 48px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e3f7ff;
}

.home-ready h2 {
  color: var(--Blue-blue-200, #8b919c);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
}

.home-ready img {
  width: 46px;
  height: 46px;
  aspect-ratio: 1/1;
  transform: translateY(5px);
  animation: Rotate360 2s infinite linear;
}

@keyframes Rotate360 {
  from {
    transform: translateY(5px) rotate(0deg);
  }
  to {
    transform: translateY(5px) rotate(360deg);
  }
}

.home-ready p {
  color: #000;
  text-align: center;
  font-family: Podkova;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* About */

.other-banner .home-banner-gallery::before {
  display: none;
}

.other-banner .home-banner-gallery-indicators {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

.about-numbers {
  width: 100%;
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  background: var(--Blue-Primary, #030f27);
}

.about-numbers-set {
  width: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}

.about-numbers-set span {
  color: var(--Yellow-Primary, #fdbe33);
  font-family: "Plus Jakarta Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.92px;
}

.about-numbers-set-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.about-numbers-set-text h3 {
  color: var(--White, #fff);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-numbers-set-text p {
  color: var(--Grey-grey-300, #a7a7a7);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-company-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.about-company-set {
  width: 100%;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  background: var(--Grey-grey-50, #f2f2f2);
  align-self: stretch;
}

.about-company-set span {
  color: var(--Blue-blue-100, #b1b5bc);
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-company-set-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.about-company-set h3 {
  color: var(--Blue-Primary, #030f27);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-company-set p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-clients {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  align-items: flex-end;
  gap: 34px;
}

.about-clients-left {
  width: 360px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 165px;
}

.about-clients-left-controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.about-clients-left-controls button {
  display: flex;
  width: 52px;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--Blue-Primary, #030f27);
  background: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.about-clients-left-controls button:hover {
  background: var(--Blue-Primary, #030f27);
}

.about-clients-left-controls button svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.about-clients-left-controls button svg path {
  transition: all 0.3s;
}

.about-clients-left-controls button:hover svg path {
  fill: #fff;
}

.about-clients-left-controls .home-banner-gallery-indicators {
  position: static;
}

.about-clients-left-controls button:last-child svg {
  transform: rotate(180deg);
}

.about-clients-right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  overflow: hidden;
}

.about-clients-right-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.3s;
}

.about-clients-right .home-clients-container {
  flex-shrink: 0;
}

.about-clients-dummy-space {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #fff;
}

/* Projects */

.projects-case {
  gap: 64px;
}

.projects-case-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  overflow: hidden;
}

.projects-case-slide {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.3s;
}

.projects-case-set {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  flex-shrink: 0;
}

.projects-case-set-heading {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.projects-case-set-heading img {
  object-fit: cover;
  height: 75px;
  border: 1px solid #e6e7e9;
  background: #fff;
}

.projects-case-set-heading h3 {
  color: var(--Yellow-Primary, #fdbe33);
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.projects-case-set-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  align-self: stretch;
}

.projects-case-set-imgs {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  align-self: stretch;
  aspect-ratio: 455/397;
  position: relative;
}

.projects-case-set-imgs-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s;
}

.projects-case-set-imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.projects-case-set-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  outline: none;
  border-radius: 100px;
  border: 1px solid #989898;
  background: rgba(36, 36, 36, 0.4);
  backdrop-filter: blur(25px);
  transition: all 0.3s;
  cursor: pointer;
  z-index: 1;
}

.projects-case-set-button-left {
  left: 16px;
}

.projects-case-set-button-right {
  right: 16px;
}

.projects-case-set-button svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.projects-case-set-button-right svg {
  transform: rotate(180deg);
}

.projects-case-set-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.projects-case-set-content .home-about-para {
  max-width: 100%;
}

.projects-case-set-content ul {
  padding-left: 20px;
  color: var(--Text-Black-text-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.projects-tata {
  display: flex;
  padding: 80px 160px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.projects-tata .template-heading {
  max-width: 360px;
}

.projects-tata-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-tata-img img {
  height: 100%;
  object-fit: cover;
}

/* Services */

.services-sector {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.services-sector .home-reach-set h3 {
  text-transform: uppercase;
}

.blue-template {
  background: var(--Blue-Primary, #030f27);
}

.blue-template .template-heading h2 {
  color: var(--White, #fff);
}

.blue-template .template-heading p {
  color: var(--Text-Black-text-black-200, #929292);
}

.services-services {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}

.services-services-text {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.services-services-text h3 {
  width: 100%;
  color: var(--Blue-blue-400, #353f52);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 16px;
  border-bottom: 1px solid #353f52;
  transition: all 0.3s;
  cursor: pointer;
}

.services-services-text h3:hover {
  color: var(--Blue-blue-200, #8b919c);
}

.services-services-text .active-services-services {
  color: #fff;
  border-bottom: 1px solid #fff;
  cursor: default;
}

.services-services-text .active-services-services:hover {
  color: #fff;
}

.services-services-imgs {
  width: 50%;
  display: flex;
  gap: 4px;
  aspect-ratio: 622/320;
  min-height: 100%;
  align-self: stretch;
  transition: all 0.3s;
}

.services-services-img {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.services-services-img::before {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  transition: all 0.3s;
}

.services-services-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.services-services-img.active-services-services-img {
  width: 100%;
}

.services-services-img.active-services-services-img::before {
  opacity: 0;
}

.services-equipment {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
}

.services-equipment-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.services-equipment-set h3 {
  color: var(--Blue-blue-300, #565e6e);
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.services-equipment-set-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.services-equipment-set-container p {
  width: 100%;
  color: var(--Blue-blue-100, #b1b5bc);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 16px;
  border-top: 1px solid #d6d6d680;
}

.services-equipment-set-container span {
  grid-column: span 2;
  padding-left: 40px;
  color: var(--Blue-blue-200, #8b919c);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.services-safety {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  align-items: flex-start;
  gap: 20px;
}

.services-safety .template-heading {
  max-width: 50%;
  width: 100%;
  gap: 56px;
}

.services-safety-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.services-standards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.services-standards-para {
  width: 100%;
  height: 100%;
  color: var(--Text-Black-text-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.services-standards-para span {
  color: var(--Blue-Primary, #030f27);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.services-standards-set {
  display: flex;
  width: 100%;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background: var(--Grey-grey-50, #f2f2f2);
}

.services-standards-set img {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  object-fit: cover;
  flex-shrink: 0;
}

.services-standards-set h3 {
  color: var(--Blue-Primary, #030f27);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.services-gear {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.services-gear .home-fleet-set:nth-child(1),
.services-gear .home-fleet-set:nth-child(2),
.services-gear .home-fleet-set:nth-child(3) {
  grid-column: span 2;
}

.services-gear .home-fleet-set:nth-child(4),
.services-gear .home-fleet-set:nth-child(5) {
  grid-column: span 3;
}

/* Contact */

.contact-banner {
  height: auto;
  gap: 83px;
}

.contact-banner-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 0px 160px 40px 160px;
}

.contact-banner-set {
  width: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  background: rgba(255, 249, 235, 0.4);
}

.contact-banner-set-icon {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.contact-banner-set-icon svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.contact-banner-set-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.contact-banner-set-content h3 {
  color: var(--Blue-Primary, #030f27);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact-banner-set-content p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-banner-set a {
  text-decoration: none;
  transition: all 0.3s;
  color: var(--Blue-Primary, #030f27c0);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contact-banner-set a:hover {
  color: #030f27;
}

.contact-form-container {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  gap: 40px;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}

.contact-form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.contact-form-input label {
  color: var(--Blue-Primary, #030f27);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contact-form-input input {
  width: 100%;
  height: 46px;
  padding: 12px 16px;
  border: 1px solid var(--Blue-blue-50, #e6e7e9);
  background: none;
  color: var(--Black-black-200, #929292);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.contact-form-input textarea {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 12px 16px;
  border: 1px solid var(--Blue-blue-50, #e6e7e9);
  background: none;
  color: var(--Black-black-200, #929292);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.contact-form-input input:not(:placeholder-shown),
.contact-form-input textarea:not(:placeholder-shown) {
  color: #111;
}

.contact-form .secondary-button {
  width: 100%;
}

.contact-form-map {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.contact-form-map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 120px;
  padding: 80px 160px;
  background: radial-gradient(
    circle at 50% 100%,
    #1b4db3 0%,
    #143a8a 0%,
    #030f27 70%
  );
}

.newsletter {
  width: 100%;
  display: flex;
  max-width: 689px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.newsletter header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.newsletter header h2 {
  color: var(--Grey-grey-200, #c2c2c2);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.2px;
}

.newsletter header h2 span {
  color: #fff;
}

.newsletter header p {
  max-width: 510px;
  color: var(--Text-Black-text-black-200, #929292);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.newsletter form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.newsletter form input {
  display: flex;
  width: 420px;
  height: 48px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  outline: none;
  border: 1px solid var(--Text-Black-text-black-400, #414141);
  background: none;
  color: var(--Grey-grey-300, #a7a7a7);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.newsletter form button {
  width: 123px;
  cursor: pointer;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  gap: 40px;
}

.footer-top-left {
  display: flex;
  width: 190px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.footer-top-left img {
  height: 70px;
  object-fit: cover;
}

.footer-top-left p {
  color: var(--Grey-grey-300, #a7a7a7);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.footer-top-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
}

.footer-top-right-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.footer-top-right h3 {
  color: var(--Grey-grey-50, #f2f2f2);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-top-right nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.footer-top-right a {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Grey-grey-300, #a7a7a7);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.footer-top-right a:hover {
  color: #fdbe33;
}

.footer-top-right a:active {
  color: #fff;
}

.footer-top-right article {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.footer-top-right label {
  color: var(--Grey-grey-600, #707070);
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-top-right article .contact-number {
  display: flex;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding-top: 16px;
  border-top: 1px solid rgba(53, 63, 82, 0.5);
}

.footer-bottom p {
  color: var(--Grey-Primary, #7b7b7b);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-bottom p a {
  background: linear-gradient(90deg, #ffbf00 0%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.footer-bottom p a:hover {
  border-bottom: 1px solid #ffbf00;
}

.footer-bottom a {
  color: var(--Grey-Primary, #7b7b7b);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-bottom a:hover {
  color: #fdbe33;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  .navbar {
    height: 56px;
    padding: 10px 20px;
  }

  .navbar-logo img {
    height: 34px;
  }

  .mobile-navbar-button {
    z-index: 5000;
  }

  .mobile-navbar-button img {
    width: 32px;
    height: 32px;
    object-fit: cover;
  }

  .mobileNavbar {
    width: 100%;
    height: 100svh;
    background: #f8f8f8;
    position: fixed;
    right: 0;
    z-index: 1000;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    padding: 80px 20px 36px 20px;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
    }
  }

  .activeMobileNavbar {
    transform: translateX(0);
    animation: slideIn 0.3s forwards;
  }

  .nonactiveMobileNavbar {
    transform: translateX(100%);
    animation: slideOut 0.3s forwards;
  }

  .mobileNavbar .nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
  }

  .mobileNavbar .navbar-link {
    height: 32px;
    padding: 8px 0;
    color: var(--Blue-Primary, #030f27);
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .mobileNavbar .navbar-link-container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    transition: all 0.3s;
  }

  .navbar-link-container:hover {
    gap: 16px;
  }

  .mobileNavbar .navbar-link-text {
    width: 100%;
    justify-content: space-between;
  }

  .navbar-link-text p {
    height: 32px;
    padding: 8px 0;
    color: var(--Blue-Primary, #030f27);
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .navbar-link-dropdown {
    width: 100%;
    position: static;
    padding: 0;
    background: none;
    box-shadow: none;
    gap: 8px;
  }

  .navbar-link-dropdown a {
    height: 32px;
    padding: 4px 0;
    color: var(--Text-Black-text-black-400, #414141);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .mobileNavbar .primary-button {
    width: 100%;
  }

  /* Home */

  .home-banner {
    height: calc(100svh - 56px);
  }

  .home-banner header {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  }

  .home-banner header h1 {
    color: var(--Text-Black-Primary, #111);
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .home-banner header p {
    color: var(--Blue-blue-400, #353f52);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .home-banner-gallery-text {
    width: 100%;
    bottom: 30px;
    padding: 0px 20px;
  }

  .home-banner-gallery-text span {
    color: var(--Grey-grey-200, #c2c2c2);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .home-banner-gallery-text p {
    color: #fff;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .home-banner-gallery-indicators {
    right: auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .home-banner-gallery-button {
    transform: none;
  }

  .home-banner-gallery-button-left {
    left: 20px;
  }

  .home-banner-gallery-button-right {
    right: 20px;
  }

  .template {
    padding: 48px 20px;
    gap: 32px;
  }

  .template-heading {
    gap: 4px;
  }

  .template-heading h2 {
    color: var(--Blue-Primary, #030f27);
    font-family: "Plus Jakarta Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .template-heading p {
    color: var(--Text-Black-text-black-200, #929292);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home-provide {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .home-provide-set-text p {
    color: var(--Text-Black-text-black-300, #606060);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home-about {
    padding: 48px 20px;
    gap: 24px;
    flex-direction: column;
  }

  .home-about-content {
    width: 100%;
    gap: 4px;
  }

  .home-about-content h2 {
    color: var(--Blue-Primary, #030f27);
    font-family: "Plus Jakarta Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .home-about-para {
    max-width: 100%;
    color: var(--Text-Black-text-black-300, #606060);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home-about .secondary-button {
    height: 36px;
    padding: 8px 16px;
  }

  .secondary-button p {
    color: #fff;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .secondary-button svg {
    width: 20px;
    height: 20px;
  }

  .home-about-img {
    width: 100%;
  }

  .home-move {
    padding: 48px 20px;
  }

  .home-move h2 {
    color: var(--Grey-grey-200, #c2c2c2);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .home-move h2 span {
    color: var(--Blue-Primary, #030f27);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .home-fleet {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .home-yellow {
    padding: 48px 20px;
    align-items: center;
    justify-content: center;
  }

  .home-yellow p {
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .home-yellow h2 {
    color: #000;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.36px;
  }

  .home-equipment {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .home-clients {
    flex-direction: column;
    gap: 32px;
  }

  .home-clients-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .home-bts {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .home-bts-set-text p {
    font-size: 14px;
  }

  .template.home-faq {
    flex-direction: column;
  }

  .home-faq-set-text h3 {
    color: var(--Text-Black-Primary, #111);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .home-faq-set-text p {
    color: var(--Text-Black-text-black-300, #606060);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home-faq-set img {
    width: 20px;
    height: 20px;
  }

  .home-reach {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  .home-ready {
    padding: 48px 20px;
    gap: 16px;
  }

  .home-ready h2 {
    color: var(--Blue-blue-200, #8b919c);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  .home-ready img {
    width: 34px;
    height: 34px;
  }

  /* About */

  .about-numbers {
    display: flex;
    padding: 20px 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .about-company-container {
    flex-direction: column;
  }

  .about-clients {
    padding: 48px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-clients-left-controls .home-banner-gallery-indicators {
    transform: none;
  }

  /* Projects */

  .projects-case-set-heading {
    flex-direction: column;
    align-items: flex-start;
  }

  .projects-case-set-heading img {
    height: auto;
    width: 100%;
  }

  .projects-case-set-heading h3 {
    color: var(--Yellow-Primary, #fdbe33);
    font-family: "Plus Jakarta Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .projects-case-set-container {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 32px;
  }

  .projects-case-set-imgs {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
    align-self: stretch;
  }

  .projects-case-set-content {
    width: 100%;
  }

  .projects-tata {
    padding: 48px 20px;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
  }

  .projects-tata-img {
    width: 100%;
  }

  .projects-tata-img img {
    height: auto;
    width: 100%;
  }

  /* Services */

  .services-sector {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
  }

  .services-services {
    flex-direction: column;
  }

  .services-services-text {
    width: 100%;
  }

  .services-services-imgs {
    width: 100%;
  }

  .services-services-text h3 {
    font-size: 16px;
  }

  .services-equipment-set-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  .services-equipment-set-container span {
    padding: 0;
    color: var(--Blue-blue-200, #8b919c);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .services-safety {
    padding: 48px 20px;
    flex-direction: column;
    gap: 32px;
  }

  .services-safety .template-heading {
    max-width: 100%;
    gap: 32px;
  }

  .services-safety-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  .services-standards {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .services-gear {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  /* Contact */

  .contact-banner {
    height: auto;
  }

  .contact-banner-container {
    padding: 0px 20px 48px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .contact-form-container {
    padding: 48px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form-map {
    width: 100%;
  }

  .contact-form-map iframe {
    min-height: 450px;
  }

  /* Footer */

  footer {
    padding: 48px 20px;
    gap: 64px;
  }

  .newsletter {
    gap: 32px;
  }

  .newsletter header h2 {
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .newsletter header p {
    color: var(--Text-Black-text-black-200, #929292);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .newsletter form {
    width: 100%;
  }

  .newsletter form input {
    width: 100%;
    height: auto;
    align-self: stretch;
  }

  .newsletter form button {
    aspect-ratio: 1/1;
    width: auto;
    height: auto;
    align-self: stretch;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
  }

  .footer-top-left img {
    height: 59px;
  }

  .footer-top-left p {
    color: var(--Grey-grey-300, #a7a7a7);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer-top-right {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
  }

  .footer-top-right-links {
    gap: 16px;
  }

  .footer-top-right nav {
    gap: 8px;
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .footer-bottom a {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .footer-bottom p a {
    width: auto;
    display: inline;
  }
}
